<!DOCTYPE html>
<html>
<head>
    <title>yonghu</title>
    <link rel='stylesheet' href='/stylesheets/yonghu.css' />
</head>
<body>
    <nav></nav>
    <div class="container">
        <div class="left">
            <ul>
                <li>
                    <a>用户列表</a>
                </li>
                <li>
                    <a onclick="showGuanliyuan()">管理员列表</a>
                </li>
            </ul>
        </div>
        <div class="right">
            <table  class="table"> 
                <thead>
                    <tr>
                        <th>
                            用户名
                        </th>
                        <th>
                            账号    
                        </th>
                        <th>
                            密码
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody id="result">
                </tbody> 
                <% for(var i = 0; i < chapterList.length; i++){ %>
                    <tr>
                        <td><%= chapterList[i].yonghuming %></td>
                        <td><%= chapterList[i].zhanghao %></td>
                        <td><%= chapterList[i].mima %></td>
                        <td>howDo</td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div> 
</body>
<script>

   function showGuanliyuan(){
       window.location = "/guanliyuan";
   }
</script>
</html>